.Form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 33rem;
    height: fit-content;
    margin: 2rem;
    margin-left: 0;
    padding: 3rem 0;
    text-align: center;
    border-radius: 1rem;
    background-color: var(--black);
}
.Form-container p {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
.Form-container .Form-inputs {
    margin: 2rem 0;
    margin-bottom: 1rem;
}
.Form-container .Form-inputs input {
    width: 80%;
    margin: 0 auto;
    height: 3rem;
    border-radius: 1rem;
    padding-left: 1rem;
    background-color: var(--pewter);
    border: none;
    color: var(--white);
    margin-bottom: 1.5rem;
}
.Form-container .Form-button {
    padding: 1rem 2rem;
    width: 65%;
    align-self: center;
    margin-bottom: 2rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    color: var(--white);
    background-color: var(--pewter);
    border: 0.1rem solid var(--dark-black);
    cursor: pointer;
}
.Form-container .Form-button:hover {
    background-color: var(--white);
    border: 0.1rem solid var(--white);
    color: var(--black);
}
.Form-container .Movie-logo {
    width: 50%;
    margin: 0 auto;
}
.Form-container .Movie-logo img {
    width: 50%;
    margin: 0 auto;
    transition: all 1s;
}
.Form-container .Movie-logo img:hover {
    transform: rotate(360deg);
}