.ServiceButtons-containers {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0;
}
.ServiceButtons-containers .ServiceButtons-element {
    width: 8rem;
    cursor: pointer;
}
.ServiceButtons-containers .ServiceButtons-element:hover {
    transform: scale(1.2);
}
.ServiceButtons-containers .ServiceButtons-element img {
    width: 7rem;
}
.ServiceButtons-containers .googleIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ServiceButtons-containers .googleIcon img {
    width: 4.8rem;
    height: 4.8rem;
}